@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
*{
    margin: 0;
}

.proposition{
    text-overflow: ellipsis;
    padding : 15px;
    overflow: hidden;
    flex: 9;
}

.proposition p{
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
    height: 20px;
    overflow: hidden;
}

.prix{
    font-weight: 800;
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0 15px 0 5px;
    margin-bottom: 15px;
    margin-top: auto;
    height: auto;
    text-align: center;
    vertical-align: middle;
    flex: 1;
}

.check{
    display: flex;
    background: #9fd3c8;
    height: auto;
    flex: 0;
    overflow: hidden;
    text-align: center;
    align-items: center;
}

.blocpages:hover .check{
    transition: 300ms;
    flex: 1;
    padding: 0 20px;
}

.blocpages:hover p{
    text-overflow: ellipsis;
}

.align{
    width: 100%;
}

.align #blocnouveau2 {
    margin: 10px;
}


.blocpages:hover .fa-circle-check{
    transform: rotate(360deg);
    transition: 1s;
}

.fa-circle-check{
    color: #fff;
    height: 30px;
}

.conteneur1200{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: #000;
}


header {
    display: flex;
    position: sticky;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 50%);
    padding: 20px;
}

.conteneur1200top{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteneur1200menu {
    align-items: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

#logomenu {
    height: auto;
    padding: 15px;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
}

#map {
    animation: fadeIn linear 2.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #eaeaea;
    color: #353535;
}

.fa-location-dot {
    width: 20px;
    height: auto;
}

#topsection {
    animation: fadeIn linear 2.5s;
    animation-delay: 200ms;
    background-color: #f6f6f6;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

#h1accueil{
    margin: 5px;
    font-family: 'roboto', sans-serif;
    font-weight: 800;
    font-size: 26px;
    text-align: center;
}

h1 {
    margin: 5px;
    font-family: 'Shrikhand';
    font-weight: 800;
    font-size: 26px;
    text-align: center;
}

h2 {
    margin: 5px;
    font-family: 'roboto', sans-serif;
    font-weight: 800;
    font-size: 26px;
    text-align: center;
}

h3 {
    margin: 5px;
    font-family: 'roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

p {
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 20px;
}

#blocfonction {
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
}

#buttontop {
    color: #fff;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    font-size: 20px; 
    text-align: center;
    border-radius: 50px;
    width: 280px;
    height: 50px;
    background: linear-gradient(175deg, #FF79DA 30%, #9356DC);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all 0.15s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttontop:hover{
    transform: scale(1.2);
}
#buttontop:active{
    transform: scale(1.5);
}

.boutonetapes {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 15px;
}

#rectangle1 {
    width: 350px;
    height: 80px;
    border-radius: 20px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

#petapes1{
    display: flex;
    align-items: center;
    padding: 10px;
}

#rectangle1::before{
    display: flex;
    justify-content: center;
    align-items: center;
    content: '1';
    font-family: 'roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #9356DC;
    position: relative;
    right: 20px;
}
#rectangle1:hover{
    background-color:rgb(147, 86, 220, 0.2);
}
#rectangle2:hover{
    background-color:rgb(147, 86, 220, 0.2);
}
#rectangle3:hover{
    background-color:rgb(147, 86, 220, 0.2);
}
#rectangle2 {
    width: 350px;
    height: 80px;
    border-radius: 20px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

#petapes2{
    display: flex;
    align-items: center;
    padding: 10px;
}


#rectangle2::before{
    display: flex;
    justify-content: center;
    align-items: center;
    content: '2';
    font-family: 'roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #9356DC;
    position: relative;
    right: 20px;
}

#rectangle3 {
    width: 350px;
    height: 80px;
    border-radius: 20px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

#petapes3{
    display: flex;
    align-items: center;
    padding: 10px;
}

#rectangle3::before{
    display: flex;
    justify-content: center;
    align-items: center;
    content: '3';
    font-family: 'roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #9356DC;
    position: relative;
    right: 20px;
}

#fonctionnement {
    animation: fadeIn linear 2.5s;
    animation-delay: 400ms;
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

.spanfonctionnement{
    margin: 15px;
    padding: 10px;
    font-size: 25px;
    color: #9356DC;
}

#restaurants {
    animation: fadeIn linear 2.5s;
    animation-delay: 600ms;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    padding: 15px 0 15px 0;
}

#blocresto{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bloc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
    background-color: #fff;
}

#blocnouveau {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    background-color: #99e2d0;
    color: #139273;
    border-radius: 5px;
    margin: 10px;
    position: absolute;
    font-weight: 500;
    font-size: 15px;
    font-family: 'roboto', sans-serif;
}

#blocnouveau2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    background-color: #99e2d0;
    color: #139273;
    border-radius: 5px;
    margin: 10px;
    position: absolute;
    font-weight: 500;
    font-size: 15px;
    font-family: 'roboto', sans-serif;
}

.blocimg {
    width: 100%;
    height: 200px;
}

.imgrestaurants {
    display: flex;
    justify-self: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bloctexte {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    padding: 10px;
}

.prestaurant {
    text-align: left;
    padding: 0;
    font-weight: 400;
}

.titreresto{
    margin: 0;
}

.aresto{
    width: 50%;
}

footer {
    background-color: #353535;
    padding-top: 20px;
    padding-bottom: 20px;
}

#logofooter {
    margin: 20px;
    width: 20%;
}

ul {
    color: #fff;
    list-style: none;
    left: 50px;
    margin-left: -20px;
}
.imgfooter {
    width: 15px;
    height: auto;
    margin-right: 10px;
}
#ali{
    list-style: none;
    color: #fff;
    display: flex;
    align-items: center;
}
li {
    font-family: 'roboto', sans-serif;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    margin: 5px;
}

.fa-utensils{
    width: 20px;
    margin-right: 10px;
}

.fa-handshake-angle{
    width: 20px;
    margin-right: 10px;
}

svg.svg-inline--fa.fa-heart{
    height: 25px;
}
svg.svg-inline--fa.fa-heart:focus{
    background: url(images/heart-solid.svg);
}
svg.svg-inline--fa.fa-heart:active{
    background: url(images/heart-solid.svg);
}
svg.svg-inline--fa.fa-arrow-left-long {
    display: flex;
    height: 40px;
    color: #9e9e9e;
}
.fav{
    display: flex;
    align-items: center;
}




.imgback {
    height: 230px;
    width: 100%;
}

.imgrestaurantsback {
    display: flex;
    justify-self: center;
    height: 280px;
    width: 100%;
    object-fit: cover;
}

.fondblanc {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #f6f6f6;
    position: relative;
    z-index: 1;
    align-items: center;
    padding-bottom: 50px;
}

.titrepage {
    animation: fadeIn linear 2.5s;
    animation-delay: 200ms;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}

.blocpages {
    width: 31%;
    margin: 10px;
    border-radius: 20px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.nomplats {
    font-family: 'roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 0;
    padding-bottom:5px ;
    text-align: start;
}

.enligne {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
    justify-content: space-between;
    margin: 5px;
    margin-top: 0;
}

.ingredients {
    display: flex;
    font-weight: 400;
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    padding: 0;
    text-align: start;
}
.sectionblocpage2 {
    animation: fadeIn linear 2.5s;
    animation-delay: 600ms;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sectionblocpage3{
    animation: fadeIn linear 2.5s;
    animation-delay: 800ms;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


.sectionblocpage {
    animation: fadeIn linear 2.5s;
    animation-delay: 400ms;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.etapesrepas {
    animation: fadeIn linear 2.5s;
    animation-delay: 400ms;
    display: flex;
    justify-content: flex-start;
    font-weight: 300;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    padding: 10px 0;
    margin: 15px 0;
}

.etapesrepas::before{
    content: '';
    width: 50px;
    height: 2px;
    background-color: #9fd3c8;
    position: relative;
    top: 25px;
    left: 50px;
}







@media (max-width:1440px) {
    svg.svg-inline--fa.fa-heart:hover{
        background: url(images/heart-solid.svg);
    }
}

@media (max-width:1024px) {

    .etapesrepas{
        justify-content: center;
        margin-right: 50px;
    }

    .sectionblocpage{
        flex-direction: column;
    }

    .sectionblocpage2{
        flex-direction: column;
    }

    .sectionblocpage3{
        flex-direction: column;
    }

    .blocpages{
        width: 50%;
    }

    .conteneur1200top{
        width: 100%;
    }

    #blocfonction {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .conteneur1200menu{
        width: 100%;
    }
    .conteneur1200{
        width: 100%;
    }

    .boutonetapes {
        margin: 0;
    }

    #fonctionnement{
        margin-bottom: 20px;
    }

    .conteneur1200menu {
        width: 80%;
    }

    #blocresto {
        padding: 30px;
    }

    footer{
        padding: 20px;
    }
}

@media (max-width:768px){

    svg.svg-inline--fa.fa-arrow-left-long {
        display: none;
    }

    .titrepage{
        width: 60%;
    }

    .blocpages {
        width: 60%;
    }

    #logomenu{
        padding: 30px 0 30px 0;
        height: 40px;
    }

}

@media (max-width:425px){

    header{
        padding: 0;
    }

    #logomenu{
        padding: 30px 0 30px 0;
    }

    #logomenu img{
        height: 50px;
    }

    #blocresto {
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .aresto {
        width: 100%;
    }

    #logofooter{
        width: 50%;
    }

    .titrepage{
        width: 85%;
    }

    .blocpages {
        width: 90%;
    }

    #blocfonction{
        width: 95%;
    }
}
